name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: RustDoc
      run: cargo doc --verbose
    - name: fmt
      run: cargo fmt --verbose
    - name: Release
      run: cargo build --release
    - name: Upload files
      uses: actions/upload-artifact@v5
      with:
        name: xiaozhi-server-linux-arm64
        path: |
          target/release/xiaozhi_server
          settings.toml